[user]
	name = Mark Edmonds
	email = mark@mjedmonds.com
[filter "media"]
   clean = git-media-clean %f
   smudge = git-media-smudge %f
[core]
   autocrlf = false
   safecrlf = true
	excludesfile = /Users/mark/.gitignore_global
[alias]
   co = checkout
   ci = commit
   st = status
   br = branch
   hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
   type = cat-file -t
   dump = cat-file -p

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "hawser"]
   clean = git hawser clean %f
   smudge = git hawser smudge %f
   required = true
