vim/.vim/tmp/*
!vim/.vim/tmp/.dummy
vim/.vim/undo/*
!vim/.vim/undo/.dummy
vim/.vim/backup/*
!vim/.vim/backup/.dummy
vim/.vim/sessions
vim/.vim/.netrwhist
vim/.vim/.ycm_extra_conf.pyc
vim/vim-markdown-preview.html
vim/.vim/plugged/*
neovim/nvim/plugged/*

sublimetext3/User/Package Control.cache/*
sublimetext3/User/Package Control.last-run
sublimetext3/User/Package Control.merged-ca-bundle
sublimetext3/User/Package Control.user-ca-bundle
sublimetext3/User/oscrypto-ca-bundle.crt
Package Control.last-run
Package Control.cache
Package Control.system-ca-bundle

oni/Cache
oni/GPUCache

zsh/.oh-my-zsh
