[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "zsh-extra/minimal"]
	path = zsh-extra/minimal
	url = https://github.com/S1cK94/minimal
[submodule "vim/.vim/bundle/auto-pairs"]
	path = vim/.vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/.vim/bundle/guicolorscheme.vim"]
	path = vim/.vim/bundle/guicolorscheme.vim
	url = https://github.com/vim-scripts/guicolorscheme.vim
[submodule "vim/.vim/bundle/indentLine"]
	path = vim/.vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/.vim/bundle/molokai"]
	path = vim/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/.vim/bundle/smartpairs.vim"]
	path = vim/.vim/bundle/smartpairs.vim
	url = https://github.com/gorkunov/smartpairs.vim
	ignore = dirty
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/.vim/bundle/targets.vim"]
	path = vim/.vim/bundle/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/.vim/bundle/vim-easymotion"]
	path = vim/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/.vim/bundle/vim-lengthmatters"]
	path = vim/.vim/bundle/vim-lengthmatters
	url = https://github.com/whatyouhide/vim-lengthmatters
[submodule "vim/.vim/bundle/vim-misc"]
	path = vim/.vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "vim/.vim/bundle/vim-session"]
	path = vim/.vim/bundle/vim-session
	url = https://github.com/xolox/vim-session
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
        ignore = dirty
[submodule "zsh-extra/zsh-syntax-highlighting"]
	path = zsh-extra/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/.vim/bundle/gundo.vim"]
	path = vim/.vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/.vim/bundle/vim-abolish"]
	path = vim/.vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/.vim/bundle/FastFold"]
	path = vim/.vim/bundle/FastFold
	url = https://github.com/Konfekt/FastFold
[submodule "vim/.vim/neocomplete.vim"]
	path = vim/.vim/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "vim/.vim/bundle/neocomplete.vim"]
	path = vim/.vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "vim/.vim/bundle/Spacegray.vim"]
	path = vim/.vim/bundle/Spacegray.vim
	url = https://github.com/ajh17/Spacegray.vim
[submodule "vim/.vim/bundle/base16-vim"]
	path = vim/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/.vim/bundle/vim-markdown-preview"]
	path = vim/.vim/bundle/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview
	ignore = dirty
[submodule "vim/.vim/bundle/vimtex"]
	path = vim/.vim/bundle/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/.vim/bundle/ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
